@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=ZCOOL+KuaiLe&display=swap");

.colorDraw {
  color: orange;
}

.colorLose {
  color: red;
}

.colorWin {
  color: green;
}

html {
  font-family: "Indie Flower", cursive;
}

body {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: white;
}
header h1 {
  color: #000428;
  font-size: 2em;
}

section,
#round-container {
  padding: 40px;
  margin: 20px;
  border: 3px solid white;
  background: linear-gradient(to left, #000428, #004e92);
}

input {
  border: 2px solid white;
  padding: 1em;
  margin: 1px;
  color: #000428;
  border-radius: 3px;
}
input:hover,
input:focus {
  margin: 1px;
  padding: 2em;
  color: #000428;
  outline: 3px solid white;
  border: 2px solid #000428;
  border-radius: 3px;
  outline-offset: -2px;
  transition: outline-offset 250ms ease;
}

/* .win {
  background-color: red;
  color: white;
}

.lose {
  background-color: green;
  color: white;
} */
